# Ambiente de desenvolvimento
ENV = dev
PORT = 3000

# SESSION E COOKIES
SESSION_SECRET=senha_secreta_de_desenvolvimento
COOKIE_SECURE=false
COOKIE_MAX_AGE=86400000

# BANCO DE DADOS
DB_HOST=localhost
DB_PORT=3306
DB_NAME=demandas_ti
DB_USER=fullstack
DB_PASSWORD=BancoDeDados
# DB_PASSWORD=senha_do_bd
DB_DIALECT=mysql